env
dist
.ipynb*
.DS_Store
__pycache__
*.bz2
dask-worker-space
duplicates_*
*.prof
logs*

*.npy
*.sql
*.egg-info
*.so
*.log

# Don't commit data
data/

# Added by cargo
/target
Cargo.lock

# MeiliSearch
MeiliSearch